[user]
	name = mafro
	email = dev@mafro.net
[core]
	autocrlf = false
[color]
	ui = auto
	diff = auto
[gui]
	encoding = utf-8
[alias]
	st = status
	ci = commit
	br = branch -a
	co = checkout
	df = diff
	lg = log -p
