[user]
	name = mafro
	email = github@mafro.net
[core]
	autocrlf = false
	eol = lf
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	pager = less -F -X
[color]
	ui = auto
	diff = auto
[gui]
	encoding = utf-8
[alias]
	st = status
	br = branch -a
	co = checkout
	ls = log --pretty=format:"%C(yellow)%h\\ %Cred%ad%Cgreen%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ll = log --pretty=format:"%C(yellow)%h\\ %Cred%ad%Cgreen%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --numstat --date=short
[help]
	autocorrect = 1
[advice]
	statusHints = false			# how to stage/unstage advice
	#pushNonFastForward = false	# no push of non-FF advice
[diff]
	mnemonicprefix = true		# use i,w,c,o instead of a,b in diff
	renames = copies			# attempt to spot file renames
[branch]
	autosetupmerge = true		# auto track remote branches
[push]
	default = upstream
[merge]
	stat = true					# show diffstat after merge
[rebase]
	autosquash = true			# always look for fixup! and squash! commits
