[user]
	name = mafro
	email = github@mafro.net
[core]
	autocrlf = false
	eol = lf
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	pager = less -F -X
[color]
	ui = auto
	diff = auto
[gui]
	encoding = utf-8
[alias]
	st = status
	br = branch -a
	co = checkout
	ls = log --pretty=format:"%C(yellow)%h\\ %C(red)%ad%C(green)%d\\ %C(reset)%s%C(cyan)\\ [%cn]" --decorate --date=short
	ll = log --pretty=format:"%C(yellow)%h\\ %C(red)%ad%C(green)%d\\ %C(reset)%s%C(cyan)\\ [%cn]%C(reset)" --decorate --numstat --date=short
	comend = commit --amend --no-edit
	rc = rebase --continue
	cp = cherry-pick
	ds = diff --stat
	fixup = "!f() { if [ -z \"$1\" ]; then echo 'No commit id!'; return; fi; git commit -m \"fixup! $1\"; }; f"
	ours = "!f() { git co --ours $@ && git add $@; }; f"
	theirs = "!f() { git co --theirs $@ && git add $@; }; f"
	upstream = "!f() { if [ -z \"$1\" ]; then echo 'No upstream!'; git remote add upstream https://github.com/$1.git; }; f"
[help]
	autocorrect = 1
[advice]
	statusHints = false			# how to stage/unstage advice
	pushNonFastForward = false	# no push of non-FF advice
[diff]
	mnemonicprefix = true		# use i,w,c,o instead of a,b in diff
	renames = copies			# attempt to spot file renames
[branch]
	autosetupmerge = true		# auto track remote branches
	autosetuprebase = always
[push]
	#default = simple		# default in git v2
	default = tracking		# let's not break pre-v2 git
[merge]
	stat = true					# show diffstat after merge
[rebase]
	autosquash = true			# always look for fixup! and squash! commits
