[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:mafrosis/oh-my-zsh.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
