.DS_Store
.vagrant

vim/.vim/bundle/*
vim/.vim/.netrwhist

salty-vagrant/.vagrant
salt/pillar/github_pky.sls
salt/github.*.pky

ncmpcpp/.ncmpcpp/error.log

ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/startup/

tools/*/bin/
tools/*/lib/
tools/*/lib64
tools/*/pyvenv.cfg
