#! /usr/bin/env python3

from {{ project_name|replace("-", "_") }}.cli import entrypoint


def main():
    '''
    The main entry point for {{ project_name }} CLI
    '''
    entrypoint()


if __name__ == '__main__':
    try:
        main()
    except KeyboardInterrupt:
        raise SystemExit()
