#
# {{ project_name }}
#

__title__ = '{{ project_name }}'
__version__ = '0.0.1'
__build__ = 0x000001
__author__ = 'Matt Black'
__license__ = 'Simplified BSD License'
__copyright__ = 'Copyright {{ year }} Matt Black'
