#! /usr/bin/env python3

import os
import sys

import {{ project_name|replace("-", "_") }}

try:
    from setuptools import setup
except ImportError:
    from distutils.core import setup

if sys.argv[-1] == 'publish':
    os.system('python setup.py sdist upload')
    sys.exit()

packages = [
    '{{ project_name|replace("-", "_") }}',
]

requires = [
    open('requirements.txt').read()
]

setup(
    name='{{ project_name }}',
    version={{ project_name|replace("-", "_") }}.__version__,
    description='',
    long_description=open('README.rst').read(),
    author='Matt Black',
    author_email='dev@mafro.net',
    url='http://github.com/mafrosis/{{ project_name }}',
    packages=packages,
    package_data={'': ['LICENSE']},
    package_dir={'': '.'},
    include_package_data=True,
    install_requires=requires,
    entry_points = {
        'console_scripts': ['{{ project_name }}={{ project_name|replace("-", "_") }}.cli:entrypoint']
    },
    license=open('LICENSE').read(),
    classifiers=(
        'Development Status :: 3 - Alpha',
        'Environment :: Console',
        'Intended Audience :: Developers',
        'Intended Audience :: System Administrators',
        'Natural Language :: English',
        'License :: OSI Approved :: BSD License',
        'Programming Language :: Python',
        'Programming Language :: Python :: 3.4',
        'Programming Language :: Python :: 3.5',
    ),
)
