file_client: local

id: salt

fileserver_backend:
  - roots
  - git

file_roots:
  base:
    - /home/mafro/dotfiles/salt/

pillar_roots:
  base:
    - /home/mafro/dotfiles/salt/pillar/

gitfs_remotes:
  - git@github.com:mafrosis/salt-formulae.git
